.fa.fa-play-circle{
    font-size: 100px;
}

.navbar{
    background-color: lightgreen;
    height: 200px;
    font-size: x-large;
    margin-top: 10px;
}
.moviebar{
    border: 1px solid darkgreen;
    border-radius: 6px;
    margin: 20px;
    align-items: center;
    float: left;
    background-color:rgba(144, 238, 144, 0.404);
}
.row{
margin: 10px;
 }
 h1{
        text-align: center;
        margin-top: 20px;

    }
h2{
        text-align: center;
 
    }
    p{
        margin-top: 10px;
    }
    
    .contact{
        border: 1px solid darkgreen;
        border-radius: 60px;
        margin: 20px;
        align-items: center;
        float: left;
        background-color:rgba(144, 238, 144, 0.404);
        padding: 30px;
    }
    .fas.fa-chair,.fa.fa-shopping-cart,.fa.fa-phone-square{
        font-size: 80px;
        float: left;
    }
    .conct{
        text-align: center;    }
footer{
    background-color: lightgreen;
}

